#summary_wrap_up {
    /* color: blue; */
    margin-bottom: 12em;
}

h1 {
    color: #353535
}

p {
    color: #7c7c7c;
    display: block;
}

#navbar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 260px;
    overflow: auto;
    background: #eee;
}

#navbar>a {
    display: block;
    padding: 6px 1px;
    padding-left: 15px;
    font-size: 25px;
    color: #555555;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;

}

#navbar>header {
    text-align: center;
    font-size: 1.2em;
    padding-top: 5px;
}

.main-section {
    margin-left: 205px;
    font-size: 28px;
    padding: 0px 10px;
    /* font-family: 'Libre Barcode 39', cursive; */
    /* font-family: 'Libre Barcode 39', cursive; */
    font-family: 'Gruppo', cursive;
}

/* have media query for screen contrast for handheld devices */
/* @media (){

} */
code {
    margin-left: 1em;
    display: block;
    background-color: #f1f1f1;
    position: static;
}

#What_are_iframes>p:nth-child(2)>code {
    color: blue;
    display: inline-block;
    margin-left: 0;
}

li {
    margin-left: 1em;
}